@font-face {
    font-family: "fuente linda";
    src: url(fuentes/StickNoBills-VariableFont_wght.ttf);
}


body{
    font-family: "fuente linda";
    background-color:lightsalmon
}
.body2{
    /* padding: 5px; */
    font-size: 119%;
    line-height: 170%;
}

.diva{
    text-align: center;
    background-color: #fedbb5;
    color: rgb(238, 136, 4);
    padding: 10px;
}


.botones{
        /* background-image: linear-gradient(to bottom, #fedbb5, #fedbb5ce); */
    display: inline-flex;
    padding: 1.8%; 
    list-style: none;
    text-align:start; 

    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    background-color: aliceblue;
    padding: 10px 20px;

    /* 
    background-image: linear-gradient(#fedbb5, #fedbb5ce);
    background-size: 0% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
     */
}
.botones:hover {
    background-size: 100% 100%;
  }


nav ul{
    list-style: none;
    text-align:start; 
}
nav a{
    text-decoration: none;
    color:  rgb(238, 136, 4);
    padding: 10px 100px 10px 100px;

}











.titulo_receta{
    padding: 5px;
    color:darkorange;
}
.titulo_principal{
    color: darkorange;
    text-align: center;
}

#asdimg{
    size: 20%;
}
.p1{
    color:#0c8ee0;
}

.lista{
    color: #0c8ee0;
}


